.card_link{
    text-decoration: none;
    color: var(--color-text);
    .mat-mdc-card {
        background-color: var(--color-card);
    
        .header_para {
            font-weight: 600;
            font-size: 18px;
        }
    
        .sub_header_para {
            font-weight: 600;
        }
    
        img {
            height: 10rem;
        }
    
        .content{
            p{
                margin: 7px 0;
            }
            margin-top: 5px;
    
        }
    }
}

