.home {
    padding: 3vw 5vw;
    // margin: -12px 0;
    background-color: var(--color-bg);

    .search {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        .search_input_box {
            .search_container {
                display: flex;
                background: var(--color-bg-header);
                box-shadow: var(--box-shadow);
                min-height: 3rem;
                align-items: center;
                padding: 0 2vw;

                .search_icon {
                    min-width: 3rem;
                    margin-top: 3px;
                    color: var(--color-text);
                }

                input {
                    flex: 1;
                    border: none;
                    outline: none;
                    background: transparent;
                    color: var(--color-text);

                }
            }
        }

        .search_select_container {
            select {
                min-height: 3rem;
                padding: 0 2vw;
                border: none;
                outline: none;
                background-color: var(--color-bg-header);
                box-shadow: var(--box-shadow);
                color: var(--color-text);
            }
        }
    }

    .country_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 2rem;
        place-items: center;

        .country_wrapper {
            width: 18rem;
        }
    }
}

@media screen and (max-width:"430px") {
    .home {
        .search {
            .search_input_box {
                width: 95%;
            }
        }
    }
}